@model IEnumerable<CreaciónDeCRUDconCsharpUsandoMVC.Models.Product>

@{
    ViewBag.Title = "Index Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultima_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidades)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultima_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidades)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.codigo }) |
            @Html.ActionLink("Details", "Details", new { id = item.codigo }) |
            <!--delete for post ("ActionName", "Controller") -->
            @using (Html.BeginForm("Delete", "Products", new { id = item.codigo }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-default" />
            }
        </td>
    </tr>
}
</table>
